*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-title{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.banner-title h1{
    font-size: 40px;
    font-weight: bold;
    border-left: 2px solid  #FF5959 ;
    padding-left: 5px;
}

.btn{
    padding: 10px 20px;
    background-color:#FF5959 ;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}